.adoptAnimals__list,
.profileAnimals__list {
  display: flex;
  flex-wrap: wrap;
}

.adoptAnimals__item,
.profileAnimals__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1vw;
  border: 0.1em dashed black;
  margin: 0.1em;
}

.adoptAnimals__image,
.profileAnimals__image {
  width: 15vw;
  height: auto;
}
