<body>

    <h1>do you want to aaaaaaaaaaadopt??

    </h1>


    <ul class="animals_list">

        {{#each animals}}
        <li class="animal_item">

            <div class="svg_animal">
                {{this.name}}
                <img src="/assets/{{this.name}}.svg">
            </div>
            {{/each}}
        </li>
    </ul>
</body>