{{!-- console.log('this is our home.hbs'); --}}
<form action="/profile" method="GET" class="nameForm" aria-label="name-submit">
  <label for="username">Username:</label>
  <input class="username" type="text" id="username" name="username" required />
  <button class="nameSubmit">Submit</button>
</form>