{{!-- console.log('this is our home.hbs'); --}}
<form action="/home" method="POST" class="nameForm" aria-label="name-submit">
  <label for="username">Username:</label>
  <input class="username" type="text" id="username" name="usename" required/>
  <button class="nameSubmit">Submit</button>
</form>
